* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #121212;
  color: #f3f3f3;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}